/* define the necessary variables */
:root {
  --blue1: #0065fe;
  --bg-color: rgba(255, 255, 255, 1);
  --bold-font: Gilroy-Bold;
  --semibold-font: Gilroy-SemiBold;
  --medium-font: Gilroy-Medium;
  --blue2: #005AE2;
  --blue3: #1E3448;
  --primary-100: #3284FF;
}

body {
  background-color: var(--bg-color);
  max-width: 100%;
  /* 1340px */
  margin: 0 auto;
  
  /* padding: 1px 100px; */
}

/* Font sizes */
.font14{
  font-size: 14px;
}
.font16{
  font-size: 16px;
}
.font18{
  font-size: 18px;
}
.font20{
  font-size: 20px;
}
.font24{
  font-size: 24px;
}

p, a {
  font-family: var(--semibold-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
/* @media screen (max-width: 1440px) {
   body{
      width: 100%;
   }
} */

/* style scissor logo */

.scissor-logo {
  position: relative;
  top: 14px;
  left: 6px;
  display: flex;
}

nav div h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  top: 3px;
  margin: 0 7px;
}


/* Style Nav Header */

nav, option{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  font-family: var(--medium-font);
  width: 100%;
}
/* link syles */
a{
  font-family: var(--medium-font);
  text-decoration: none;
}
a:hover {
  color: burlywood;
  text-decoration: none;
}
a:active{
  font-family: var(--medium-font);
  text-decoration: none;
}
a:visited{
  font-family: var(--medium-font);
  text-decoration: none;
  color: black;
}
#nav-blue{
  color: var(--blue1);
  font-family: var(--medium-font);
  text-decoration: none;
}
#nav-blue:hover{
  color: burlywood;
  text-decoration: none;
}
#nav-blue:active{
  font-family: var(--medium-font);
  text-decoration: none;
}

.nav-btn,
.nav-log {
  padding-top: 23px;
}
#features{
  border: 0 solid var(--bg-color)
}
.nav-log {
  display: flex;
  flex-direction: row;
  font-family: var(--semibold-font);
  font-size: 16px;
}
.nav-log p {
  position: relative;
  bottom: 3px;
}
.blue-button {
  background-color: var(--blue1);
  border-radius: 20px;
  color: white;
  position: relative;
  bottom: 10px;
  height: 42px;
  width: 142px;
  /* margin: 0 17px; */
  transition-duration: 0.2s;
}
.blue-button:hover{
  background-color: #0664f1;
}
.blue-button:active{
 background-color: #034bb6;
 box-shadow: 1px 2px #666;
 transform: translateY(2px);
}
.blue-button p {
  text-align: center;
  position: relative;
  top: 13px;
  font-size: 16px;
  line-height: 12px;
  left: 1px;
}
nav div a {
  padding: 0 20px;
}

/* Style the write-up in landing page */
h1,
p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 7px;
  padding-bottom: 0;
}
h1 {
  font-family: var(--bold-font);
  font-size: 40px;
}
.body-head {
  width: 948px;
  height: 200px;
  margin: 0 auto;
  margin-top: 118px;
  margin-bottom: 0px;
  line-height: 96px;
}
.body-par {
  height: 105px;
  width: 781px;
  margin: 0 auto;
  line-height: 28px;
}
p {
  font-size: 18px;
  font-family: var(--medium-font);
}
section {
  position: relative;
}
.paint {
  position: absolute;
  left: 698px;
  top: 170px;
}
/* style the button below */
.body-nav .button a {
  text-align: center;
  position: relative;
  left: 45px;
}
.body-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
  position: relative;
  top: 32px;
  font-family: var(--semibold-font);
}

.body-nav p {
  position: relative;
  bottom: 3px;
}

/* Style the object below the button */
.object {
  position: absolute;
  width: 668px;
  height: 224px;
  border: 0.5px solid #005ae2;
  border-radius: 24px;
  background: rgba(254, 254, 254, 0.1);
  left: 500px;
  top: 680px;
  backdrop-filter: blur(106px);
}
/* style the object icons */
.link-arrow {
  padding-bottom: 13px;
}
.object-icons {
  position: relative;
  left: 60px;
  top: 70px;
}
/* style oject text */
.object-text {
  width: 450px;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
/* style object behind object */
.object-behind {
  position: relative;
  height: 257px;
  left: 500px;
  top: 135px;
}

/* Style floor object */
/* Trapezoid */
.floor-object {
  margin: 0 auto;
  position: relative;
  top: 150px;
  left: 40px;
  padding: 0;
  width: 100%;
}
/* Oval shape */
.oval-floor {
  position: absolute;
  height: 50px;
  width: 950px;
  background-color: #E2E9F0;
  border-radius: 50%;
  top: 30px;
  left: 250px;
  filter: drop-shadow(0px 4px 4px rgba(18, 36, 89, 0.35));
}


/* FAQs */
.FAQ-body{
  background-image: url("/Assets/Images/FAQs\ background.svg");
  background-position: center;
  background-size: cover;
  
}

#pipe{
  position: relative;
  right: 11px; 
  top: 9px;
}
.faq-head-wrapper{
  position: relative;
  width: 600px;
  margin: 0 auto;
  top: 50px;  
}

/* Style FAQ tabs */
/* Accordion style */
.ac-container {
  max-width: 955px;
  position: relative;
  top: 100px;
}

.ac-container label {
  height: 30px !important;
  line-height: 32px !important;
  font-size: 16px !important;
  font-family: var(--semibold-font);
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 5px;
  cursor: pointer;
  color: #777;
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3),1px 0 0 rgba(255,255,255,0.9) inset,0 2px 2px rgba(0,0,0,0.1);
  
}

.ac-container {
  width: 100%;
  margin: 10px auto 150px auto;
  text-align: left;
}

.ac-container label:hover {
  background: #fff;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
  background: #f1f2f3;
  color: #666;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
  height: 30px;
  line-height: 21px;
  font-size: 13px;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}



.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255,255,255,0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: #777;
  line-height: 23px;
  font-size: 10px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  font: normal normal 12px 'Open Sans';
}

.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
  height: 140px;
}

.ac-container input:checked ~ article.ac-medium {
  height: 180px;
}

.ac-container input:checked ~ article.ac-large {
  height: 230px;
}



/* Style and animate Plan prices */
.plan-wrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: relative;
top: 40px;
width: 1188px;
height: 690px;
margin: 0 auto;
gap: 1px;
}

.plan{
border: 0.4px solid var(--blue2);
border-radius: 12px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
width: 349px;
height: 435px;
padding-left: 60px;
padding-top: 20px;
position: relative;
}
.plan:hover{
  border: 2px solid var(--blue2);
  transform: translateY(-4px);
  
  
}
.plan:active{
  background-color: var(--blue3);
  color: white;
  transform: translateY(-6px);
  transform: translateY(6px);
  height: 520px;
  width: 424px;

}

/* align text to left */
.left{
  text-align: left;
  margin: 15px 0;
}
/* Tick */
.tick{
  position: relative;
  margin-right: 7px;
  top: 3px;
}

/* Style Price Buttons */
.price-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  top: 40px;
  gap: 10px;
  margin-bottom: 150px;
}
/* style and animate white button */
.white-button{
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--blue2);
  color: var(--blue2);
  position: relative;
  bottom: 10px;
  height: 42px;
  width: 142px;
  transition-duration: 0.2s;
}
.white-button:hover{
  background-color: var(--blue2);
  color: white;
}
.white-button:active{
  background-color: #034bb6;
  box-shadow: 1px 2px #666;
  transform: translateY(2px);
}

/* URL */
.URL-container {
  background-image: url('/Assets/Images/URLframe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 523px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}
.form-container{
  width: 392px;
  height: 271px;
  background: white;
  border-radius: 12px;
  margin: 0 auto;
  padding: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input, #domain{
  border-radius: 12px;
  border: 1px solid var(--primary-100, #3284FF);
  height: 40px;  
  /* padding: 8px 12px; */
}
#url-link{
  width: 392px;
}
#domain{
  position: relative;
  right: 10px;
  width: 180px;
  border-color: var(--primary-100);

}
#alias{
  width: 180px;
  height: 36px;
}
.domain-alias{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 20px;
}
#trim{
  position: relative;
  margin: 0 auto;
  width: 392px;
  top: 50px;
}
.url-text{
  position: relative;
  top: 85px;
}
.url-text p{
  font-size: 14px;
  text-align: left;
  font-family: var(--medium-font);
  color: var(--primary-100);
}
::placeholder, option{
  color: var(--primary-100);
  font-family: var(--medium-font);
  font-size: 14px;
}

/* footer */
footer{
  background-image: url('/Assets/Images/footerFrame.jpg');
  background-position: center;
  background-size: cover;
  /* height: 561px; */
}
.socials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-logo{
  position: relative;
  left: 16px;
}
.footer-icon{
  width: 187px;
  justify-content: start;
  position: relative;
  left: 200px;
  top: 70px;
}
.footer-lists{
  display: flex;
  flex-direction: row;
  width: 812px;
  position: relative;
  left: 500px;
  flex-wrap: wrap;
  gap: 72px;
  padding-left: 0;
  padding-right: 0;
}
/* .list1 .list2. .list3 .list4{
  display: flex;
  justify-content: flex-start;
} */
.footer-lists p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  justify-content: center;
}
.lower-lists{
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: row;
  gap: 72px;
  padding-left: 0;
  padding-right: 0;
}
.list7{
  position: relative;
  right: 23px;
}
.footer2023{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 70px;
  right: 120px;
}
.footer2023 p{
  padding-left: 5px;
  font-family: var(--medium-font);
  font-size: 12px;
}
