/* define the necessary variables */
:root {
  --blue1: #0065fe;
  --bg-color: rgba(255, 255, 255, 1);
  --bold-font: Gilroy-Bold;
  --semibold-font: Gilroy-SemiBold;
  --medium-font: Gilroy-Medium;
}

body {
  background-color: var(--bg-color);
  max-width: 1340px;
  margin: 0 auto;
  /* padding: 1px 100px; */
}
p, #features ~ option {
  font-family: var(--semibold-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
/* @media screen (max-width: 1440px) {
   body{
      width: 100%;
   }
} */

/* style scissor logo */
.oval {
  border: 4px solid var(--blue1);
  height: 20px;
  width: 10px;
  border-radius: 10px;
  transform: rotate(45deg);
  position: absolute;
}
.line1,
.line2 {
  border: 2px solid var(--blue1);
  height: 15px;
  width: 0;
  border-radius: 5px;
  transform: rotate(45deg);
  position: absolute;
}
.line1 {
  left: 15px;
  top: -3px;
}
.line2 {
  top: 13px;
  right: 21px;
}
.line3 {
  border: 2px solid var(--blue1);
  height: 24px;
  width: 0;
  border-radius: 5px;
  position: relative;
  top: 7px;
  left: 4px;
}
.scissor-logo {
  position: relative;
  top: 15px;
  left: 10px;
  display: flex;
  justify-content: space-around;
  width: 180px;
  float: left;
  padding-top: 0;
}
.chain-logo {
  position: relative;
  padding: 0;
  height: 24px;
  width: 24px;
  top: 6px;
  left: 7px;
}
nav div h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  top: 3px;
}
.chain-logo,
.line3,
nav div h2 {
  margin: 0 7px;
}

/* Style Nav Header */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 18px;
  font-family: var(--medium-font);
  width: 100%;
}
.nav-btn,
.nav-log {
  padding-top: 23px;
}
#features{
  border: 0 solid var(--bg-color)
}
.nav-log {
  display: flex;
  flex-direction: row;
  font-family: var(--semibold-font);
  font-size: 16px;
}
.nav-log p {
  position: relative;
  bottom: 20px;
}
.button {
  background-color: var(--blue1);
  border-radius: 20px;
  color: white;
  position: relative;
  bottom: 10px;
  height: 42px;
  width: 142px;
}
.button p {
  text-align: center;
  position: relative;
  bottom: 1px;
  font-size: 16px;
  line-height: 12px;
}
nav div a {
  padding: 0 20px;
}

/* Style the wrtie-up in landing page */
h1,
p {
  text-align: center;
}
h1 {
  font-family: var(--bold-font);
  font-size: 40px;
}
.body-head {
  width: 948px;
  height: 200px;
  margin: 0 auto;
  margin-top: 118px;
  margin-bottom: 0px;
  line-height: 96px;
}
.body-par {
  height: 105px;
  width: 781px;
  margin: 0 auto;
  line-height: 28px;
}
p {
  font-size: 18px;
  font-family: var(--medium-font);
}
section {
  position: relative;
}
.paint {
  position: absolute;
  left: 595px;
  top: 170px;
}
/* style the button below */
.body-nav .button a {
  text-align: center;
  position: relative;
  left: 45px;
}
.body-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
  position: relative;
  top: 32px;
  font-family: var(--semibold-font);
}
#signup {
  position: relative;
  right: 45px;
  bottom: 8px;
}
.body-nav p {
  position: relative;
  bottom: 20px;
}

/* Style the object below the button */
.object {
  position: absolute;
  width: 668px;
  height: 224px;
  border: 0.5px solid #005ae2;
  border-radius: 24px;
  background: rgba(254, 254, 254, 0.1);
  left: 500px;
  top: 680px;
  backdrop-filter: blur(106px);
}
/* style the object icons */
.link-arrow {
  padding-bottom: 13px;
}
.object-icons {
  position: relative;
  left: 60px;
  top: 70px;
}
/* style oject text */
.object-text {
  width: 450px;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
/* style object behind object */
.object-behind {
  position: relative;
  height: 257px;
  left: 410px;
  top: 75px;
}

/* Style floor object */
/* Trapezoid */
.floor-object {
  margin: 0 auto;
  position: relative;
  top: 150px;
  right: 50px;
  padding: 0;
}
/* Oval shape */
.oval-floor {
  position: absolute;
  height: 50px;
  width: 950px;
  background-color: #E2E9F0;
  border-radius: 50%;
  top: 30px;
  left: 250px;
  filter: drop-shadow(0px 4px 4px rgba(18, 36, 89, 0.35));
}


/* FAQs */
.FAQ-body{
  background-image: url("/Assets/Images/FAQs\ background.svg");
  background-size: cover;
}
.faq-pipe{
  position: relative;
  left: 600px;
  top: 80px;
}
.faq-head-wrapper{
  position: relative;
  bottom: 60px;
}