/* define the necessary variables */
:root {
    --blue1: #0065FE;
    --bg-color: rgba(255, 255, 255, 1);
}

body{
    background-color: var(--bg-color);
}
nav{
display: flex;
flex-direction: row;
justify-content: space-around;
}


/* style scissor logo */
 .oval{
    border: 4px solid var(--blue1);
    height: 20px;
    width: 10px;
    border-radius: 10px;
    transform: rotate(45deg);
    position: absolute;
 }   
 .line1, .line2{
    border: 2px solid var(--blue1);
    height: 15px;
    width: 0;
    border-radius: 5px;
    transform: rotate(45deg);
    position: absolute;
 }
 .line1{
    left: 15px;
    top: -3px;
 }
 .line2{
    top: 13px;
    right: 21px;
 }
 .line3{
    border: 2px solid var(--blue1);
    height: 24px;
    width: 0;
    border-radius: 5px;
    position: relative;
    top: 19px;
    left: 4px;
 }
 .scissor-logo{
    position: relative;
    left: 10px;
    display: flex;
    justify-content: space-around;
    width: 159px;
    float: left;
    /* border: 1px solid black; */
    padding-top: 0;

 }
 .chain-logo{
    position: relative;
    /* border: 1px solid black; */
    padding: 0;
    height: 24px;
    width:24px;
    top: 19px;
    left: 7px; 
 }
 nav div h2{
    padding-top: 0px;
    padding-bottom: 0px;
 }
